<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
        <connectionStrings>
                <add name="marIntegraal.My.MySettings.defaultConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\default.mdb" providerName="System.Data.OleDb"/>
                <add name="marIntegraal.My.MySettings.TELEBIB2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Def\TELEBIB2.DEF" providerName="System.Data.OleDb"/>
                <add name="marIntegraal.My.MySettings.marnt___kopie11062015ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Jos\Documents\marNT\Data\001\marnt - kopie11062015.mdv&quot;" providerName="System.Data.OleDb"/>
        </connectionStrings>
        <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
